.input {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  
}

.container {
  padding: 14px;
  width: 100%;
  height: 100vh;
  position: relative;
}

.chat-area {
  height: 81%;
}

.chat-bar {

}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-input > div {
  font-size: 12px;
  margin-top: 6px;
}

.chat-form {
  width: 100%;
}

.submit-button {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.feedback-icon {
  font-size: 16px;
}

.feedback-icon-right {
  margin-left: 10px;
}